<h1>Hello</h1>

<table>
  <tr><th>Listname</th></tr>
  <% @lists.each do |list| %>
    <tr>
      <td><%= link_to list.name, list %></td>
      <td><%= button_to "Delete", list_path(list.id ), :method => 'delete' %></td>
    </tr>
  <% end %>
</table>
<%= render :partial => 'form' %>
