
<h1>Hello</h1>
<% @list.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
<% end %>

<table>
  <tr><th>Listname</th></tr>
  <% @lists.each do |list| %>
    <tr>
      <td><%= link_to list.name, list %></td>
      <td><%= button_to "Delete", list_path(list.id ), :method => 'delete' %></td>
    </tr>
  <% end %>
</table>
<%= render 'form', :form_obj => @list, :button_name => 'New List' %>
